@page
@model ticket_system.Pages.Workers.availableTicketsModel
@{
}


<br>
<h2>List of Open Tickets</h2>

<a class='btn btn-primary btn-sm' href="/Workers/PickupList?id=@Model.worker.id">My Pickup</a>
<a class="btn btn-primary btn-sm" href="/Tickets/TicketBelletin">Ticket Belletin</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Customer</th>
            <th>Problem</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.listTickets)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.customer</td>
                <td>@item.problem</td>
                <td>
                    <a class="btn btn-success btn-sm" href="/Workers/Pickup?id=@Model.worker.id&ticketId=@item.id">Pickup</a>
                    
                </td>
            </tr>
        }
    </tbody>
</table>
